<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ShoppingCart</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AuthenticationServlet</servlet-name>
    <servlet-class>com.bitwise.training.servlets.AuthenticationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthenticationServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.bitwise.training.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.bitwise.training.filters.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/Login</url-pattern>
    <url-pattern>/Logout</url-pattern>
  </filter-mapping>
  
</web-app>